.column, .columns {
    margin-left: 0%;
}
.leftbox {
	margin-left: 6%;	
}
.footer {
	padding-top: 25px;
}

.hidden {
	display: none !important;
	opacity: 0;
}



.pagetitle h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 3.5rem;
}
.pagetitle  {
	margin-top: 50px;
	margin-bottom: 25px;
}
.contenttitle h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 2rem;
	font-weight: 700;
	margin-left: 0px;
}
.pagedescription {
	padding-bottom: 25px;
}



.thumbnail {
	height: 75px;
	width: 75px;	
	position: relative;
	top: 33%;
	transform: translateY(-50%);
}







.circle {
  width:100%;
  border-radius:50%;
  text-align:center;
  padding:50% 0;
  line-height:0;
  position:relative;
  background: #ff5555;
  color: white;
  font-family: Helvetica, Arial Black, sans;
}





.navpull {
	background-color: #fff;
    display: block;
    position: fixed;
    top: 0;
    z-index: 999;
    margin: 0 auto;
    width: 83%;
}
.nav-content i {
	padding-left: 10px;
}
.nav-content h5 {
	font-family: 'Roboto Slab', serif;
    font-size: 2rem;
	font-weight: 600;
}
.nav-content {
	padding: 25px;
}
.navpanel {
	padding-left: 2%;
	padding-right: 2%;
}
.navpanel.left {
	padding-left: 0px;
}
.navpanel.right {
	padding-right: 0px;
}
.nav-toggle i {
	color: #ff5555;
}
.nav-toggle {cursor: pointer;}
.nav-content {display: none;}
.nav-content.default {display: block;}

.menubutton {
	font-size: 2rem;
	padding-right: 20px;
	padding-top: 5px;
}
.navfooter.hidden {
	display: none;
}
.navfooter {
	background-color: #e6e6e6;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 1.3rem;
}
.navlinks span {
	padding-right: 50px;
}





.table {
}
  
.table td {
	 border-top: 1px solid #e9e9e9;
	 padding: 0px;
	 padding-top: 5px;
	 padding-bottom: 2px;
	 margin: 0px;
	 -moz-transition: padding-left .3s ease-in;
     -o-transition: padding-left  .3s ease-in;
     -webkit-transition: padding-left  .3s ease-in;
     transition: padding-left  .3s ease-in;
}
.table tr:hover td {
	 background-color: #f2f2f2;
}
.table td:hover {
	 padding-left: 10px;
	 cursor: pointer;
}
  
.table i {
	padding-left: 10px;
	padding-right: 10px;
}











.controls {
    display: block;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 45px;
    right: 15px;
    z-index: 500;
    opacity: 1;
    padding: 7px;
    font-size: 1em;
    border-radius: 100%;
    box-shadow: none;
    transition: all .15s;
	outline: none;   
	text-align: center;
}

.controls.one {
    top: 150px;
    right: 25px;
	background-color: #42a5f5;
}
.controls.two {
    top: 205px;
    right: 25px;
	background-color: #ff5555;
}
.controls.three {
    top: 85px;
    right: 25px;
	background-color: white;
	color: black;
}

.controls.scrolltop {
    bottom: 10px;
    right: 25px;
	background-color: #efefef;
	color: #878787;
}

.controls:hover {
    opacity: 1;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transform: scale(1.1);
	outline: none;   
	color: #fff;
}
.controls {
  -webkit-animation-delay: .5s;
}
.editcontrol {
	display: block;
    color: white !important;
    cursor: pointer;
    position: fixed;
    bottom: 45px;
    right: 15px;
    z-index: 999;
    opacity: 1;
    padding: 7px;
    font-size: 1em;
    border-radius: 100%;
    box-shadow: none;
    transition: all .15s;
	outline: none;   
	text-align: center;
	position: fixed;
	right: 25px;
	top: 85px;
	font-size: 15px;
	transition: right .5s;
	background: #ffcc00;
}
.editcontrol.active {
	right: 375px;
	background: white;
	color: #ffcc00 !important;
}
.editcontrol i {
	display: block;
    width: 1.5em;
    height: 1em;
    line-height: 1.1em;
}



.controls i {
    display: block;
    width: 1.5em;
    height: 1em;
    line-height: 1.1em;
}

.modaltitle {
	text-align: left;
}
.modalcontent {
	text-align: left;
	padding-top: 25px;
}







form {
	width:100px;
	margin:0 auto;
	position: relative;
}
.search { 
	padding:6px 15px 6px 30px;
	margin:3px; 
	background: url('../images/site/search.png') no-repeat; 
	background-position: 90%;
}
.rounded { 
	border-radius:15px; 
	-moz-border-radius:15px; 
	-webkit-border-radius:15px; 
}



.actions ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
	float: right;
}

.actions li {
	float: left;
	display: block;
    text-align: center;
	min-width: 100px;
}

.actions li a {
	padding: 14px 16px;
	text-align: right;
}


.box {
	position: relative;
	width: calc(100%-2px);		/* desired width */
	background: #f7f7f7;
	margin: 1px;
}
.box:before {
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}
.boxcontent {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
}
.boxcontent .value {
	position: relative;
	font-size: 3.1vw;
	font-family: 'Roboto Slab', serif;
	font-weight: 200;
}
.boxcontent .metric {
	font-size: 0.9vw;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	display: block;
}
tbody tr:hover {
	background: #ededed;
}



.box.edit {
	cursor: pointer;
}
.box.edit:hover {
	
}
.box.review:hover {
	background: #5ed4ff;
	cursor: pointer;
}
.box.approve:hover {
	background: #57f742;
	cursor: pointer;
}

.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}



.ui-table {
	width: 100%;
}






#editBar {
	position: fixed;
	right: 0px;
	top: 75px;
	width: 0px;
	background: #ffcc00;
	height: 60px;
	z-index: 400;
	overflow: hidden;
	display: block;
	transition: 0.5s;
}
.editon {
	/* box-shadow: -10px 0px 30px -4px rgba(0, 0, 0, .4), 0 0 0 1px rgba(0, 0, 0, .1); */
    -webkit-transition: .width 2s, height .2s, -webkit-transform .2s; /* Safari */
    transition: .width 2s, height .2s, transform .2s;
	width: 350px !important;
}
.minimised {
	/* box-shadow: -10px 0px 30px -4px rgba(0, 0, 0, .4), 0 0 0 1px rgba(0, 0, 0, .1); */
    -webkit-transition: .width 2s, height .2s, -webkit-transform .2s; /* Safari */
    transition: .width 2s, height .2s, transform .2s;
	height: 50px !important;
}
#editBar .contents {
	padding-left: 25px;
	padding-right: 25px;
	width: 350px;
	font-size: 20px;
	padding-top: 12px;
	z-index: 1000;
}

#undoBar {
	position: fixed;
	right: 0px;
	top: 135px;
	width: 350px;
	background: white;
	height: 0px;
	z-index: 990;
	overflow-y: hidden;
	display: block;
	transition: 0.5s;
}
#undoBar .contents {
	padding: 25px;
	height: calc(100% - 200px) !important;
}
.undoon {
	/* box-shadow: -10px 0px 30px -4px rgba(0, 0, 0, .4), 0 0 0 1px rgba(0, 0, 0, .1); */
    -webkit-transition: .width 2s, height .2s, -webkit-transform .2s; /* Safari */
    transition: .width 2s, height .2s, transform .2s;
	height: calc(100% - 200px) !important;
	-webkit-box-shadow: -12px 9px 53px -18px rgba(0,0,0,0.41);
	-moz-box-shadow: -12px 9px 53px -18px rgba(0,0,0,0.41);
	box-shadow: -12px 9px 53px -18px rgba(0,0,0,0.41);
}
.delayed {
	-webkit-transition-delay: .5s !important; /* Safari */
    transition-delay: .5s !important;
}



.modal.button {
	margin-left: 5px;
	margin-right: 5px;
}


.button-secondary {
	background: #23e02a;
	color: white;
}

.activatedTable td {
	color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB;
	padding-left: 10px !important;
}





.wiz {
	height: 30px;
	width: 150px;
	background: #ededed;
	display: inline-block;
	float: left;
	margin: 1px;
	padding: 10px;
	text-align: left;
	padding-left: 25px;
}
.wiz:hover {
	background: #33C3F0;
	color: white;
}
.wiz.active {
	background: #33C3F0;
	color: white;
}
.wizcontent {
	text-align: justify;
	min-height: 500px;
	padding-top: 25px;
}
.wizcontent.second {
}
.wizcontent.third {
}




.slimBox {

}


