.feature {
	text-align: center;
	font-size: .9em;
}
.feature a {
	text-decoration: none;
	color: #000;
}
.price {
	text-align: center;
	font-size: .9em;
}

.feature i {
	color: #13B5EA;
	font-size: 3em;
}

.feature h2 {
	font-size: 1.2em;
	padding-top: .9em;
	font-weight: 600;
}
.featuretitle {
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-top: 25px;
	text-align: justify;
}
.featuretitle h2 {
	font-size: 2em;
	padding-top: .9em;
	font-weight: 400;
}
.featurelist {
	margin-bottom: 50px;
}

.leftspacer {
	width: calc(100% - 960px)/2;
	float: left;
}


.contentsection {
	max-width: 960px;
	margin-left: calc((100% - 960px)/2);
}

.intro {
	background: #F3F3F3;
	padding: 50px;
	text-align: justify;
}

.button-action {
	background-color: #86c042;
	color: #fff;
}
.button-yellow {
	background-color: #ffcc00;
	color: #fff;
}
.button {
	outline: none;
}
.button:hover {
	outline: none;
}

.cta {
	margin-top: 20px;
}

.prices {
	background: #F3F3F3;
	padding: 50px;
	text-align: justify;
}
.prices h2 {
	font-size: 2em;
	font-weight: 400;
}

.priceimage {
	width: 50px;
	margin-top: 50px;
}