.person {
	font-size: 1.2rem;
	font-weight: 700;
	padding-bottom: 5px;
}
.context {
	font-size: 1rem;
	font-weight: 400;
	float: right;
	padding-bottom: 5px;
	padding-right: 5px;
}


.contenttitle {
	padding-right: 25px;
}

.department.active {
	background-color: #f2f2f2;
}

.skills {
	overflow-x: auto;
}

.tskill th {
	min-width: 50px;
	text-align: right;
	padding-right: 0px;
}
.tskill td {
	min-width: 50px;
	text-align: right;
}