.person {
	font-size: 1.2rem;
	font-weight: 700;
	padding-bottom: 5px;
}
.context {
	font-size: 1rem;
	font-weight: 400;
	float: right;
	padding-bottom: 5px;
	padding-right: 5px;
}



.risktext {
	padding-left: 25px;
}







#editdocument {
	color: #ffcc00;
	cursor: pointer;
}
.riskcontent {
	background-color: #262626;
	color: #ffffff;
	padding: 25px;
	text-align: justify;
	font-size: 1.3rem;	
	position: relative;
}

.controlcontent {
	background-color: #ffffff;
	color: #262626;
	padding: 25px;
	text-align: justify;	
	font-size: 1.3rem;
	position: relative;
}

.textenter {
	min-height: 10rem;
}

.row.hazard {
	min-height: 10rem;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #bfbfbf;
}

.numberscore {
    border-radius: 50%;

    width: 36px;
    height: 36px;
    padding: 8px;

    background: #ffcc00;
    color: white;
    text-align: center;

    font: 32px Arial, sans-serif;
	margin-left: auto;
    margin-right: auto;
}

.riskedit {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 35px;
	width: 100%;
	background: rgba(255, 255, 255, 0.1);
}

.controledit {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 35px;
	width: 100%;
	background: rgba(0, 0, 0, 0.1);
	
}

.riskedit i {
	float: left;
	color: white;
	padding-left: 25px;
	cursor: pointer;
	display: block;
	font-size: 20px;
}
.controledit i {
	float: right;
	color: #262626;
	padding-right: 25px;
	cursor: pointer;
	display: block;
	font-size: 20px;
}
.controledit i:hover {
	color: black;
}
.riskedit i:hover {
	color: black;
}





.entry {

}
.scorebox {
	min-height: 10rem;
	text-align: center;
}
.score {
	height: 50px;
	width: 59px;
	position: relative;
	top: 33%;
	transform: translateY(-50%);
}








/*
    Common 
*/

.wizard,
.tabcontrol
{
    display: block;
    width: 100%;
    overflow: hidden;
}

.wizard a,
.tabcontrol a
{
    outline: 0;
}

.wizard ul,
.tabcontrol ul
{
    list-style: none !important;
    padding: 0;
    margin: 0;
}

.wizard ul > li,
.tabcontrol ul > li
{
    display: block;
    padding: 0;
}

/* Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info
{
    position: absolute;
    left: -999em;
}

.wizard > .content > .title,
.tabcontrol > .content > .title
{
    position: absolute;
    left: -999em;
}



/*
    Wizard
*/

.wizard > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.wizard.vertical > .steps
{
    display: inline;
    float: left;
    width: 30%;
}

.wizard > .steps .number
{
    font-size: 1.429em;
}

.wizard > .steps > ul > li
{
    width: 25%;
}

.wizard > .steps > ul > li,
.wizard > .actions > ul > li
{
    float: left;
}

.wizard.vertical > .steps > ul > li
{
    float: none;
    width: 100%;
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active
{
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 1em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active
{
    background: #eee;
    color: #aaa;
    cursor: default;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active
{
    background: #2184be;
    color: #fff;
    cursor: default;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active
{
    background: #9dc8e2;
    color: #fff;
}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active
{
    background: #ff3111;
    color: #fff;
}

.wizard > .content
{
    background: #eee;
    display: block;
    margin: 0.5em;
    min-height: 20em;
    overflow: hidden;
    position: relative;
    width: auto;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard.vertical > .content
{
    display: inline;
    float: left;
    margin: 0 2.5% 0.5em 2.5%;
    width: 65%;
}

.wizard > .content > .body
{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.wizard > .content > .body ul
{
    list-style: disc !important;
}

.wizard > .content > .body ul > li
{
    display: list-item;
}

.wizard > .content > .body > iframe
{
    border: 0 none;
    width: 100%;
    height: 100%;
}

.wizard > .content > .body input
{
    display: block;
    border: 1px solid #ccc;
}

.wizard > .content > .body input[type="checkbox"]
{
    display: inline-block;
}

.wizard > .content > .body input.error
{
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

.wizard > .content > .body label
{
    display: inline-block;
    margin-bottom: 0.5em;
}

.wizard > .content > .body label.error
{
    color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em;
}

.wizard > .actions
{
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}

.wizard.vertical > .actions
{
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
}

.wizard > .actions > ul
{
    display: inline-block;
    text-align: right;
}

.wizard > .actions > ul > li
{
    margin: 0 0.5em;
}

.wizard.vertical > .actions > ul > li
{
    margin: 0 0 0 1em;
}

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active
{
    background: #2184be;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active
{
    background: #eee;
    color: #aaa;
}

.wizard > .loading
{
}

.wizard > .loading .spinner
{
}



/*
    Tabcontrol
*/

.tabcontrol > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.tabcontrol > .steps > ul
{
    position: relative;
    margin: 6px 0 0 0;
    top: 1px;
    z-index: 1;
}

.tabcontrol > .steps > ul > li
{
    float: left;
    margin: 5px 2px 0 0;
    padding: 1px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabcontrol > .steps > ul > li:hover
{
    background: #edecec;
    border: 1px solid #bbb;
    padding: 0;
}

.tabcontrol > .steps > ul > li.current
{
    background: #fff;
    border: 1px solid #bbb;
    border-bottom: 0 none;
    padding: 0 0 1px 0;
    margin-top: 0;
}

.tabcontrol > .steps > ul > li > a
{
    color: #5f5f5f;
    display: inline-block;
    border: 0 none;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
}

.tabcontrol > .steps > ul > li > a:hover
{
    text-decoration: none;
}

.tabcontrol > .steps > ul > li.current > a
{
    padding: 15px 30px 10px 30px;
}

.tabcontrol > .content
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 20em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    padding-top: 20px;
}

.tabcontrol > .content > .body
{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.tabcontrol > .content > .body ul
{
    list-style: disc !important;
}

.tabcontrol > .content > .body ul > li
{
    display: list-item;
}







.container {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}
.navpull {
    width: 80% !important;
}






#changelog {
	margin-top: 50px;	
}


.ro {
	padding-right: 5%;
	text-align: justify;
}
#raOverview .title {
	margin-top: 1px;
	font-weight: 400;
	font-size: 3rem;
	padding-bottom: 25px;
}

.qf {
	padding-top: 5px;
}
.qfo button {
	margin-right: 5px;
}


.raocontrol {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    color: white;
    text-align: center;
    font: 28px Arial, sans-serif;
	margin-left: auto;
    margin-right: 15px;
}
.raocontrol.small {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 3px;
    color: white;
    text-align: center;
    font: 14px Arial, sans-serif;
    margin-right: 50px;
	float: right;
}
.raocontrol.one {
	background: #42a5f5;
}
.raocontrol.two {
	background: #ff5555;
}
.edit {
	background: #ffcc00;
	color: white !important;
	font-size: 15px !important;
	outline: none !important;
}

.tablecontrols {
	padding-right: 10px;
	padding-left: 10px;
	cursor: pointer;
	display: inline-block;
}
.tablecontrols:hover {
	color: darkgrey;
}




.editbutton {

}

.editcircle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 8px;
    background: #ededed;
    text-align: center;
	position: absolute;
	color: black;
	font-size: 14px;
	cursor: pointer;
	display: block;
}
.editcircle:hover {
	background: #1EAEDB;
	color: white;
}
.editcircle.one {
	top: 0px;
	left: -50px;
}
.editcircle.two {
	top: 50px;
	left: -50px;
}
.editcircle.three {
	top: 100px;
	left: -50px;
	cursor: move;
}
.editcircle.four {
	top: 0px;
	right: -50px;
}
.editcircle.four:hover {
	background: #ff3a3a;
}
.undodelete {
	background-color: #ededed;
	width: 200px;
	margin-left: 25px;
}
.notification {
	margin-left: 25px;
}
#hazardList {
	list-style: none;
}
#hazardList li {
	margin-bottom: 0px;
}


/** start: REARRANGE STYLES **/
.stepnumber.editactive {
	cursor: move;
}
.hazards {
	list-style-type: none;
}
ol.hazards li.placeholder {
  position: relative;
  height: 10px;
  background: #1EAEDB;
  list-style-type: none;
  opacity: 1;
  font-size: 1.3rem;
  color: white;
  /** More li styles **/
}
ol.hazards li.placeholder:before {
  position: absolute;
  list-style-type: none;
  /** Define arrowhead **/
}
ol.hazards li {
  list-style-type: none;
}
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
/** end: REARRANGE STYLES **/